body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background: rgb(53,26,65);
    background: linear-gradient(90deg, rgba(53,26,65,1) 0%, rgba(143,100,21,1) 70%, rgba(247,207,73,1) 100%);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: none;
}

.hamburger {
    display: block;
    font-size: 32px;
    cursor: pointer;
    margin-right: 32px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding-top: 60px;
}

section {
    padding: 20px;
    background-color: #000;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgb(53,26,65);
    background: linear-gradient(90deg, rgba(53,26,65,1) 0%, rgba(143,100,21,1) 70%, rgba(247,207,73,1) 100%);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #fff;
    font-size: 12px;
}

a {
    text-decoration: underline;
    color: #fff;
}

blockquote {
    font-size: 21px;
}

.fundoIMG {
    height: 180px;
}

.fundoIMG img {
    width: 100%;
}

.textoInicial {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: #fff;
    width: 80%;
    height: auto;
    margin-top: -60px;
}

.textoInicial h1 {
    font-size: 64px;
    position: relative;
    margin-left: 65px;
}

nav img {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 100%;
    top: -25px;
    right: 10px;
}

nav span {
    position: relative;
    top: -15px;
    left: 10px;
}

.textoInicial.interno {
    margin-top: -175px;
}

.textoInicial.interno h1 {
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.textoInicial.interno p {
    font-size: 22px;
}
