body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background: url('/assets/images/fundo-blackMamba.jpg') no-repeat center center fixed;
    background-size: cover;
}

.textoInicial {
    color: #f9ba27;
    margin-top: 9rem;
}

.textoInicial h1 {
    font-size: 64px;
    position: relative;
    margin-left: 65px;
}
blockquote {
    font-size: 22px;
}


/* .fundoVidro {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
} */

@media only screen and (max-width: 620px) {
    
}