h1 {
    font-size: 32px;
    color: #fff;
    margin-left: 20px;
}

.fundoVidro {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: #fff;
    width: 90%;
    height: auto;
    margin-top: -170px;
}

.treino {
    margin-left: -30px;
    margin-bottom: 30px;
}

li {
    font-size: 26px;
    list-style: none;
    padding-bottom: 30px;
}

img {
    width: 315px;
    padding-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 32px;
    color: #000;
}
p {
    font-size: 26px;
    color: #000;
}

.marcadores label {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

.marcadores input {
    width: 30px;
    height: 30px;
}

.marcadores span {
    position: absolute;
    margin-top: 7px;
    font-size: 22px;
}

.timer {
    font-size: 22px;
    color: #fff;
    display: none;
    position: absolute;
    margin-left: 120px;
    margin-top: -53px;
}

.marcadores label.hidden {
    display: none;
}

.serie-checkbox {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
}

.serie-checkbox:checked::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 30px;
    height: 30px;
    background-color: #007bff;
    border-radius: 30px;
}